* {
    box-sizing: border-box;
}

.title-container {
    border-bottom: 2px solid black;
    height: 20vh;
    display: flex;
    align-items: center;
}

.title {
    margin-left: 40px;
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 80px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0;
}

nav ul li {
    list-style: none;
    color: #adb7bd; 
    font-family: 'Lucida Sans', Arial, sans-serif; 
    font-size: 16px; 
    line-height: 26px; 
    }

a {
    text-decoration: none;
    color: black;
    padding-left: 0;
    margin-left: 0;
}

a:hover { 
    color: #ff4411;
    }

/* The start of main */

h1 {
    color: #ff4411; 
    font-size: 48px; 
    font-family: 'Signika', sans-serif; 
    padding-bottom: 10px; 
}

img {
    width: 400px;
    height: auto;
}

.main {
    width: 95%;
    margin-left: 2.4%;
    margin-right: auto;
    
    border-top: 1px solid #adb7bd;
    flex-wrap: wrap;
    justify-content: space-between;
    float: left;
}

p { 
    font-family: 'Inder', sans-serif; line-height: 28px; 
    margin-bottom: 15px; 
    margin-top: 5px;
    color: #666; 
    background-color: white;
}

h2 {
    color: #ff4411; 
    font-size: 30px; 
    font-family: 'Signika', sans-serif; 
    padding-bottom: 10px; 
}

.introduction {
    width: 300px;
    padding-left: 40px;
}

#recipe-h1 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.recipe-card {
    width: 400px;
}

#pasta-card {
    width: 70%;
    display: flex;
}

#gyoza-card {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto; 
}

#gyoza-card-text-div {
    padding: 0px 40px;
}
