* {
    box-sizing: border-box;
}

.title-container {
    border-bottom: 2px solid black;
    height: 20vh;
    display: flex;
    align-items: center;
}

.title {
    margin-left: 40px;
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 80px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

nav ul li {
    list-style: none;
    color: #adb7bd; 
    font-family: 'Lucida Sans', Arial, sans-serif; 
    font-size: 16px; 
    line-height: 26px; 
    text-indent: 30px; 
    margin: 0; }

a {
    text-decoration: none;
    color: black;
}

a:hover { 
    color: #ff4411;
    }

h1 {
    color: #ff4411; 
    font-size: 48px; 
    font-family: 'Signika', sans-serif; 
    padding-bottom: 10px; 
}

img {
    width: 400px;
    height: auto;
}

.main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #adb7bd;
}

p { 
    font-family: 'Inder', sans-serif; line-height: 28px; 
    margin-bottom: 15px; 
    color: #666; 
}

h2 {
    color: #ff4411; 
    font-size: 30px; 
    font-family: 'Signika', sans-serif; 
    padding-bottom: 10px; 
}
